.genres {
    margin-top: 20px;
}

.genre-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--black);
    min-height: 100%;
    border-radius: 5px;
    box-shadow: var(--bs);
    transition: transform 300ms;
    cursor: pointer;

    &:hover {
        transform: scale(1.05);
    }

    &__img {
        width: 80px;
        height: 80px;
    }

    &__heading {
        margin-top: 10px;
        color: var(--primary);
    }
}